@import "mixins";

$primaryColor100: rgba(31, 32, 65, 1);
$primaryColor75: rgba(31, 32, 65, 0.75);
$primaryColor50: rgba(31, 32, 65, 0.5);
$primaryColor25: rgba(31, 32, 65, 0.25);
$primaryColor10: rgba(31, 32, 65, 0.1);
$primaryColor5: rgba(31, 32, 65, 0.05);
$greenColor: rgba(111, 207, 151, 1);
$purpleColor: rgba(188, 156, 255, 1);
$white: rgba(255, 255, 255, 1);
